/* body {
} */

section.phone-container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

section.phone-container .row .single-phone {
  padding: 0;
}

section.phone-container .row .single-phone .card {
  transition: 0.3s;
  padding: 20px;
}
section.phone-container .row .single-phone .card:hover {
  background: #f8f9fa;
  box-shadow: 0 0 5px #ddd;
}

section.phone-container .row .single-phone img {
  max-width: 200px;
  margin: auto;
}

.modal-body img {
  max-width: 200px;
  width: 100%;
  display: block;
  margin: 0 auto 30px;
}
.modal-body ul {
  list-style: decimal inside;
  line-height: 2;
  padding: 0;
}
.modal-body ul li {
  border: 1px solid #ddd;
  margin: 0 0 10px;
  padding: 5px 10px;
}
